# Compiled source #
###################

*/.ipynb_checkpoints/*

.DS_Store

.snakemake

results/

auspice/

*errors.csv


*.code-workspace

# End of https://www.toptal.com/developers/gitignore/api/macos,linux,jupyternotebooks
